stripe==2.37.1
django-allauth==0.40.0
django-countries==5.5
django-crispy-forms==1.7.2
django==2.2.3
webcolors
# conda install -c conda-forge face_recognition

extcolors
colormap
easydev
# pip install colorgram.py
requests_toolbelt
pandas
matplotlib
opencv-python
IPython
colormath