<style>
    .color-box {
        display: inline-block;
        width: 50px;
        height: 50px;
        margin: 5px;
        border-radius: 10px;
    }
</style>

<li class="p-t-4">
    <br>
    {% for color in matching %}
        <input type="color" name="matching_color" class="color-box color" value="{{ color }}" readonly>
    {% endfor %}
</li>
<li class="p-t-4">
    Perfect Pair for you:
    <br>

    <input type="color" name="complementary_color" class="color-box color" value="{{ complementary }}" readonly>

</li>

<li class="p-t-4">
    Vibrant Trio for you:
    <br>

    {% for color in triadic %}
        <input type="color" name="complementary_color" class="color-box color" value="{{ color }}" readonly>
    {% endfor %}
</li>
<li class="p-t-4">
    Harmonious Blend for you:
    <br>

    {% for color in analogous %}
        <input type="color" name="complementary_color" class="color-box color" value="{{ color }}" readonly>
    {% endfor %}
</li>
<li class="p-t-4">
    Mono-Tone Shades for you:
    <br>

    {% for color in monochromatic %}
        <input type="color" name="complementary_color" class="color-box color" value="{{ color }}" readonly>
    {% endfor %}
</li>


<script>
    $(document).ready(function () {
        $('.color').click(function (event) {
            event.preventDefault();
            var color = $(this).val();
            {#var csrftoken = '{% csrf_token %}';#}
            // Perform AJAX request
            $.ajax({
                url: '{% url 'core:matching-cloth-extraction' %}',  // Replace with the actual endpoint URL
                type: 'GET',  // or 'GET' depending on your server configuration
                data: {
                    color: color,
                    {#csrfmiddlewaretoken: csrftoken#}
                },
                success: function (response) {
                    $('#matching_cloths').html(response);
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });
    });
</script>